.popup-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.popup-title {
  font-size: 20px;
  font-weight: 600;
}

.popup-action-container {
  display: flex;
  justify-content: flex-end;
}
